<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <% if (haserror) {%>
        <%= errormsg %>
        <% } %>
        <% if (errorsmsg) {%>
            <%= errorsmsg %>
            <% } %>
<main>
    <form class="product-form" action="<% if (editing){ %>edit-admin <% } else {%>add-admin<% }%>" method="POST">
    <div class="form-control">
        <label for="Name">Name</label>
        <input type="text" name="name" id="name" value="<%if (editing || haserror) {%><%= admin.name%><% }%>">
    </div>
    <div class="form-control">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="<%if (editing|| haserror) {%><%=admin.email%><% } %>">
    </div>
    <div class="form-control">
       
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<% if (editing|| haserror) { %><%= admin.password %><% } %>">
            
            </div>
    <div class="form-control">
        <label for="sinceInCompany">sinceInCompany</label>
        <input type="number" name="sinceInCompany" id="sinceInCompany" value="<% if (editing|| haserror) {%><%=admin.sinceInCompany%><% } %>">
    </div>
    <div class="form-control">
        <label for="contactNo">ContactNo</label>
        <input type="text" name="contactNo" id=" contactNo" value="<% if (editing|| haserror) {%><%=admin.contactNo%><% }%>">
    </div>
    <div class="form-control">
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="<% if (editing|| haserror) {%> <%=admin.address%> <% } %>">
    </div>
    <% if (editing) {%>
        <input type="hidden" name="adminId" value="<%= admin._id%>">
        <% } %>
        <button class="btn" type="submit"> <%if (editing) {%> update-admin <%} else {%> add-admin <% } %></button> 
    </form>

</main>
<%-include('../includes/end.ejs')%>